@font-face {
  font-family: "iconfont"; /* Project id 4217497 */
  src: url('iconfont.woff2?t=1692488652135') format('woff2'),
       url('iconfont.woff?t=1692488652135') format('woff'),
       url('iconfont.ttf?t=1692488652135') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanyi:before {
  content: "\e7f8";
}

